/* Estilo base para los elementos del dropdown */
.dropdown-item {
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Eliminar viñetas o puntos de los elementos de lista */
  li {
    list-style: none;
    margin: 0;
    padding: 0;
}

  /* Estilo del hover para el dropdown-item */
  .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
  }
  
  /* Estilo específico para el botón Atrás */
  .btn-atras {
    background-color: #007bff; /* Azul fuerte */
    color: white; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    margin-top: 10px; /* Espaciado superior */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  /* Efecto hover para el botón Atrás */
  .btn-atras:hover {
    background-color: #0056b3; /* Color más oscuro en hover */
    transform: scale(1.05); /* Escala el botón ligeramente */
  }
  
  /* Línea divisoria */
  .dropdown-divider {
    border-color: #d6d6d6;
  }
  
  /* Estilo de la barra de navegación */
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    font-size: 18px;
  }
  
  /* Menú desplegable */
  .dropdown-menu {
    min-width: 200px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding-left: 0; /* Elimina el espacio izquierdo */
  }